{#
/**
 * @file medical_condition.html.twig
 * Default theme implementation to present Medical Condition data.
 *
 * This template is used when viewing Medical Condition pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_medical_condition()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('medical_condition') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
